doctype html
html 
    head 
        title Home Page 
    body
        main#homePage

        h1 Welcome to the Supply Vendors website!
        div#page
            a(href= "/home") Home
            |
            |
            |
            a(href="/items") Item Selection
            |
            |
            |
            a(href= "/additem") Add New Item
            |
            |
            |
            a(href= "/bulk") Bulk Page
            br


